body {
    background-color: lightgrey;
}

h1 {
    font-family: verdana;
    color: white;
    text-align: center;
}

h2 {
    font-family: verdana;
    color: white;
}

h3 {
    font-family: verdana;
    color: white;
}

p {
    font-family: verdana;
    font-size: 14px;
}